AVICNTRL: {{ vm_ctrl_ip }}
AVICNTRL_AUTHTOKEN: {{ se_auth_token }}
avi.mgmt-ip.SE: {{ se_mgmt_ip }}
avi.mgmt-mask.SE: {{ se_mgmt_mask }}
avi.default-gw.SE: {{ se_def_gw }}
{% if bond_seq is defined %}
avi.bond-ifs.SE: {{ bond_seq }}
{% endif %}
